<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>企业文件管理系统-用户登录</title>
</head>
<body align="center">
    <div style="margin-top:60px">
        <form action="/login" method="get">
            <h1>企业文件管理系统-用户登录</h1>

            <div class="imgcontainer">
                <!-- 头像照片 -->
                <img src="https://static.runoob.com/images/mix/img_avatar.png" alt="Avatar" class="avatar">
            </div>

            <div class="container">
                <label><b>UserId</b></label>
                <input type="text" placeholder="Enter UserID" name="pid" required>

                <label><b>Password</b></label>
                <input type="password" placeholder="Enter Password" name="pwd" required>

                <button type="submit">登录</button>
            </div>
        </form>
    </div>
</body>
</html>